# Ignorar archivos ejecutables
*.exe
*.out
*.o
*/dale

# Ignorar archivos de depuración de macOS
dSYM/
*.dSYM/

# Ignorar archivos sin extensión (posibles ejecutables en Unix/macOS)
*
!*/
!*.cpp
!*.h
!*.hpp
!*.c
!*.md
!*.gitignore

# Ignorar archivos de texto
*.txt
*/*.txt